.header__lang-link {
  color: #FFFFFF;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 117%;
  text-decoration: none;
  transition: 0.3s;
  opacity: 1;
}

.header__lang-link:hover {
  opacity: 0.3;
}

.header__lang-link:last-child {
  margin-right: 0;
}

@media all and (max-width: 500px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 111%;
  }
}