.photo-grid {
  max-width: 1184px;
  margin-top: 5.75rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

@media all and (max-width: 1270px) {
  .photo-grid {
    margin-right: auto;
    margin-left: auto;
  }
}


@media all and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    margin-right: 3rem;
    margin-left: 3rem;
  }
}

@media all and (max-width: 1100px) {
  .photo-grid {
    margin-right: auto;
    margin-left: auto;
  }
}

@media all and (max-width: 960px) {
  .photo-grid {
    max-width: 720px;
    margin-top: 88px;
  }
}

@media all and (max-width: 768px) {
  .photo-grid {
    margin-right: 24px;
    margin-left: 24px;
  }
}

@media all and (max-width: 767px) {
  .photo-grid {
    margin-right: auto;
    margin-left: auto;
  }
}

@media all and (max-width: 750px) {
  .photo-grid {
    max-width: 288px;
  }
}

@media all and (max-width: 500px) {
  .photo-grid {
    margin-top: 64px;
  }
}

@media all and (max-width: 320px) {
  .photo-grid {
    margin-right: 16px;
    margin-left: 16px;
  }
}