.place__image {
  max-width: 460px;
  min-height: 460px;
}

@media all and (max-width: 1100px) {
  .place__image {
    max-width: 440px;
    min-height: 440px;
  }
}

@media all and (max-width: 960px) {
  .place__image {
    max-width: 340px;
    min-height: 340px;
  }
}

@media all and (max-width: 500px) {
  .place__image {
    max-width: 320px;
    min-height: 320px;
  }
}