.lead {
  max-width: 984px;
  margin-top: 3.5rem;
  margin-left: 9.25rem;
  margin-right: 9.25rem;
}

@media all and (max-width: 1105px) {
  .lead {
    max-width: 928px;
    margin-top: 48px;
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media all and (max-width: 960px) {
  .lead {
    max-width: 768px;
    margin-left: 0;
    margin-right: 0;
    
  }
}

@media all and (max-width: 500px) {
  .lead {
    max-width: 320px;
  }
}