.header {
  max-width: 1184px;
  margin-top: 1.75rem;
  margin-right: 3rem;
  margin-left: 3rem;
}

@media all and (max-width: 1105px) {
  .header {
    max-width: 928px;
    
  }
}

@media all and (max-width: 960px) {
  .header {
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media all and (max-width: 768px) {
  .header {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}


@media all and (max-width: 500px) {
  .header {
    max-width: 288px;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
}

@media all and (max-width: 320px) {
  .header {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}





