.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media all and (max-width: 500px) {
  .footer__container {
    flex-direction: column;
    max-width: 186px;
  }
}