.lead__title {
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 104%;
  text-align: center;
  color: #FFFFFF;
  margin: auto;
}

@media all and (max-width: 1105px) {
  .lead__title {
    max-width: 720px;
    font-size: 6rem;
    line-height: 104%;
  }
}

@media all and (max-width: 960px) {
  .lead__title {
    max-width: 720px;
    font-size: 6rem;
    line-height: 104%;
  }
}

@media all and (max-width: 780px) {
  .lead__title {
    max-width: 520px;
    font-size: 4rem;
    line-height: 100%;
  }
}

@media all and (max-width: 500px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
