.lead__image {
  max-width: 984px;
  background-size:cover;
}

@media all and (max-width: 1105px) {
  .lead__image {
    max-width: 928px;
  }
}

@media all and (max-width: 960px) {
  .lead__image {
    max-width: 768px;
    margin: auto;
  }
}

@media all and (max-width: 790px) {
  .lead__image {
    margin: 0;
  }
}

@media all and (max-width: 500px) {
  .lead__image {
    max-width: 320px;
  }
}