.lead__image {
  max-width: 984px;
}

@media all and (max-width: 1105px) {
  .lead__image {
    max-width: 928px;
  }
}

@media all and (max-width: 960px) {
  .lead__image {
    max-width: 768px;
  }
}

@media all and (max-width: 500px) {
  .lead__image {
    max-width: 320px;
  }
}