.intro {
  max-width: 690px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5.75rem;
  margin-left: 9.25rem;
  margin-right: 27.625rem;
}

@media all and (max-width: 1105px) {
  .intro {
    max-width: 690px;
    margin-left: 48px;
    margin-right: 286px;
  }
}

@media all and (max-width: 960px) {
  .intro {
    max-width: 720px;
    margin-top: 88px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media all and (max-width: 500px) {
  .intro {
    max-width: 288px;
    margin-top: 64px;
    margin-left: 16px;
    margin-right: 16px;
  }
}