.place__link {
  max-width: 456px;
  color:#FFFFFF;
  text-decoration: underline;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 122%;
  transition: 0.3s;
  opacity: 1;
  margin-top: 10px;
}

.place__link:hover {
  opacity: 0.8;
  text-decoration: underline;
}