.cover__background {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(42,44,47,.3);
  transition: 0.3s;
  z-index: 2;
}

.cover:hover .cover__background{
  background: rgba(42,44,47,.8);
}