.photo-grid__image {
  max-width: 284px;
}

@media all and (max-width: 1105px) {
  .photo-grid__image {
    max-width: 300px;
  }
}

@media all and (max-width: 960px) {
  .photo-grid__image {
    max-width: 352px;
  }
}

@media all and (max-width: 500px) {
    .photo-grid__image {
    max-width: 288px;
  }
}